@charset "UTF-8";
body{
    font-size: 20px;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-position: absolute;
    background-size: cover;
    height: auto;
}

#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;


img{
    max-width:1000px;
    max-height:800px;
    margin-left: 0%;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0%;

}

table tr td{
    height: 40px;
    width: 65px;
}


.container{
    width:100%;
    top: 0;
}


.control-label{
    color:black;
}
h1{
    text-align: center;
    color:white;
}
h2{
    color:white;
}
h3{
    color:white;
    text-align: center;
}
p{
    color:white;
}
header{
    width: 100%;
    height: 50px;
    top:0;
    left:0;
    background-color: #222;
    position:fixed;
    color:white;
}
.bg{
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    position:fixed;
    background-color: rgba(0,0,0,.6);
    display: none;
}

.menu-icon{
    position: fixed;
    font-size:25px;
    font-weight: bold;
    padding: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #222;
    color: #fff;
    cursor:pointer;
    transition: all .4s;
    left: 200px;
    top:0;
}

.menu-icon:hover{
    background-color: #fff;
    color: #5b859a;
}

#chk{
    display:none;

}
#chk:checked ~ bg{
    display: block;
}
#chk:checked ~ #principal{
    transform: translatex(300px);
}
.menu{
    height: 100%;
    position: fixed;
    background-color: #222;
    top:0;
    overflow: hidden;
    transition: all .2s;
}
#principal{
    width: 300px;
    left: -300px;
}
ul{
    list-style:none;
}
ul li a {
    display: block;
    font-size: 18px;
    font-family: 'Arial';
    padding: 10px;
    border-bottom: solid 1px #000;
    color: #ccc;
    text-decoration: none;
    transition: all .2s;
}
ul li a:hover{
    background-color: #5b859a;
}

ul li span{

}

li{
    text-align: justify;
    list-style-type:none;
}

.nb-footer{
    background: #272727;
    margin-top: 60px;
    padding-bottom: 30px;
}
.nb-footer .footer-single{
    margin-top: 30px;
}
.nb-footer .footer-title{
    display: block;
    margin: 10px 0 25px 0;
    border-bottom: 1px dotted #e4e9f0;
}
.nb-footer .footer-single a{
    text-decoration: none;
}

.nb-footer .footer-single h2{
    color: #eee;
    font-size: 18px;
    font-weight: 200;
    display: inline-block;
    border-bottom: 2px solid #7BF;
    padding-bottom: 5px;
    margin-bottom: -2px;
}
.nb-footer .footer-single li{
    border-top: solid 1px #353535;
}
.nb-footer .footer-single li:first-child{
    border-top: none;
}
.nb-footer .footer-single li a{
    color: #979797;
    font-size: 12px;
    padding: 6px 0px;
    display: block;
    transition:all 0.4s ease-in-out;
}
.nb-footer .footer-single li a:hover{
    color: #7BF;
}
.nb-footer .footer-single li a:hover i{
    color: #7BF;
}
.nb-footer .dummy-logo {
    margin-top: 11px;
    padding-bottom: 9px;
}
.nb-footer .dummy-logo .icon {
    margin-right: 10px;
    border-radius: 20px;
    margin-top: 24px;
}
.nb-footer .brand {
    background: #7BF;
}
.nb-footer .dummy-logo i {
    font-size: 50px;
    color: #fff;
    padding: 5px;
}
.nb-footer .dummy-logo p {
    color: #999;
    font-size: 12px;
}
.nb-footer .dummy-logo h2 {
    font-size: 24px !important;
    border-bottom: none;
    color: #696969;
    padding: 5px 0;
}
.nb-footer .btn-footer{
    border: 1px solid #7BF;
    margin-top: 10px;
    color: #999;
}
.nb-footer .btn-footer:hover{
    background: #7BF;
    color: #fff;
    transition:all 0.4s ease-in-out;

}
.nb-footer .useful-links li a{
    text-transform: uppercase;
}
.nb-footer .footer-project a{
    font-size: 13px;
}
.nb-footer .footer-project img{
    margin-bottom: 20px;
    border: 1px solid #666;
    border-radius: 6px;
    padding: 1px;
    opacity: 0.7;
    transition:all 0.4s ease-in-out;
}
.nb-footer .footer-project img:hover{
    opacity: 1.0;
    cursor: pointer;
}
.nb-footer .footer-project .footer-title{
    margin-top: 0;
}
.nb-footer .footer-single p, .footer-single address{
    color: #979797;
    font-size: 14px;
    margin-top: 5px;
    line-height: 22px;
}
.nb-copyright{
    background: #171717;
    padding-bottom: 10px;
}
.nb-copyright .copyrt{
    margin-top: 22px;
    font-size: 14px;
}
.nb-copyright .copyrt a{
    color: #7BF;
}
.nb-copyright .footer-social{
    margin-top: 10px;
}
.nb-copyright .footer-social i{
    padding: 5px 10px;
    color: #999;
    border: 1px solid #333;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 5px;
    transition:all 0.4s ease-in-out;
}
.nb-copyright .footer-social i:hover{
    background: #7BF;
    color: #fff;
}
.nb-copyright .footer-social .fa-facebook{
    padding: 5px 14px;
}

.modal-body{
    width: 100%;
}
.modal-header{
    width: 100%;
}
.modal-content{
    width:50%;
}
